@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --black: #252321 ;
    --white:#f5f3ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}

.header {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    height: 10vh;
    background-color: var(--black);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 9px;
}

.divs {
    cursor: pointer;
    display: flex;
    background: var(--black);
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: var(--white);
}

.btns{
    width: 250px
}
.btn{
    border: 1px solid var(--black);
    width: 158px;
    height:40px;
    background-color:var(--white);
}
select {
    text-align: center;
}
.btn:hover{
    background-color:var(--black);
    color:var(--white);
    transition: 0.5s;
}
.mode{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
