@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.header {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top: 30px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.divs {
    cursor: pointer;
    display: flex;
    background: rgba(0, 0, 0, 0.856);
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
}
.btn{
    width: 157px;
    height:40px;
    background-color:white
}
.btnb:hover{
    background-color:rgba(0, 0, 0, 0.856);
    color:white;
    transition: 0.5s;
}
.btns:focus{
    background-color:rgba(0, 0, 0, 0.856);
    color:white;
}

.score-board{
    display: grid;
    grid-template-columns: repeat(2,100px);
    text-align: center;
    gap: 10px;
}